body{background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}


#tela{
    
    display: grid;
    grid-template-columns: auto;
    
    
}


#status{background-color: rgb(46, 112, 171);
    border-radius: 8px;
    margin-right: 50px;
    
}


#mensagens{
    border-radius: 8px;
    background-color: rgb(228, 232, 252);
    overflow:hidden; height:200px;
    list-style: none;
    opacity: 0.9;
    
   
}


form{
    padding: 10px;
}


img{margin: 10px;}


li{margin: 5px;}
