@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.cabecalho{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cabecalho-imagem{
    height: 80px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
   
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-weight: 600;
    font-size: 25px;
}

.conteudo{
    border-top: 0.4px solid aliceblue;
    margin-bottom: 0px;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-texto{
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
    font-weight: 400;
    font-size: 50px;
}

.conteudo-principal-texto0{
    padding-top: 20px;
    color: aliceblue;
    font-weight: 100;
    font-size: 40px;
    text-align: center;

}

.conteudo-principal-texto1{
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 50px;
}
.rodape{
    border-top: 0.4px solid aliceblue;
}

.imagens{
    display: flex;
    justify-content: center;
}

.alinhamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.cor{
    color: aliceblue;
    font-family: 'Sarala', sans-serif;
}

.puta{
    display: flex;
    flex-direction: row;
    
}

@media  screen and (max-width: 768px){
    .puta, .imagem-principal{
        display: flex;
        flex-direction: column;
     
        padding-left: 10px;
        padding-right: 10px;
    }
}
